In [ ]:
# Normalización de datos y visualización de gráfica de cruce de tasas

In [32]:
import pandas as pd


df = pd.read_csv("/home/omnibus/Documents/QGISS_Cartografia/Proyectos/criminal_mx/indice_psd/cruce.csv")

#display(df)

#column_names = df.columns.tolist()

#display(column_names)

#mostrar variables elegidas
df[["Dt_del10mi","Mtasa_mig1","densidad_2","tasa_ata1"]]


#describe
df[["Dt_del10mi","Mtasa_mig1","densidad_2","tasa_ata1"]].describe()

        Dt_del10mi   Mtasa_mig1   densidad_2    tasa_ata1
count  2457.000000  2465.000000  2465.000000  1557.000000
mean      9.976657     7.801623     0.733063     2.791478
std       8.722803    15.984291     0.964120     4.708370
min       0.000000     0.000000     0.000000     0.000000
25%       4.143967     0.000000     0.000000     0.709622
50%       7.864737     3.000000     0.000000     1.472066
75%      12.687961     8.000000     1.000000     3.137581
max      73.197308   250.000000     9.000000    81.148564

In [33]:
# Exportar el describe como .md
df[["Dt_del10mi", "Mtasa_mig1", "densidad_2", "tasa_ata1", "DRRIAlt"]].describe().to_markdown("result_summary_prev.md", index=False)

In [12]:
#Aplicando métodos de normalización originales según explicación: https://www.youtube.com/watch?v=ro2UjY8dLWw
#Simple feature scaling
df["Dt_del10mi"] = df["Dt_del10mi"]/df["Dt_del10mi"].max() 
#Min-max
df["Mtasa_mig1"] = df["Mtasa_mig1"]-df["Mtasa_mig1"].min()/df["Mtasa_mig1"].max()-df["Mtasa_mig1"].min()
#Z-Score
df["densidad_2"] = df["densidad_2"]-df["densidad_2"].mean()/df["densidad_2"].std()

#Repetimos simple
df["tasa_ata1"] = df["tasa_ata1"]/df["tasa_ata1"].max()

In [13]:
#describe
df[["Dt_del10mi","Mtasa_mig1","densidad_2","tasa_ata1"]].describe()

        Dt_del10mi   Mtasa_mig1   densidad_2    tasa_ata1
count  2457.000000  2465.000000  2465.000000  1557.000000
mean      0.136298     7.801623     0.001015     0.034400
std       0.119168    15.984291     0.964120     0.058022
min       0.000000     0.000000    -0.732048     0.000000
25%       0.056614     0.000000    -0.732048     0.008745
50%       0.107446     3.000000    -0.732048     0.018140
75%       0.173339     8.000000     0.267952     0.038665
max       1.000000   250.000000     8.267952     1.000000

In [14]:
df[["Dt_del10mi","Mtasa_mig1","densidad_2","tasa_ata1"]]

      Dt_del10mi  Mtasa_mig1  densidad_2  tasa_ata1
0       0.506966         4.0    1.267952   0.003858
1       0.289799         3.0    0.267952   0.004903
2       0.257153         0.0    0.267952   0.004130
3       0.221169         1.0    1.267952   0.011126
4       0.325312         7.0    1.267952   0.005837
...          ...         ...         ...        ...
2460    0.062573         2.0    0.267952   0.002047
2461    0.184082         3.0    1.267952   0.018149
2462    0.423276        29.0    0.267952   0.065145
2463    0.277898         4.0    0.267952   0.050935
2464    0.180827         0.0   -0.732048   0.043345

[2465 rows x 4 columns]

# Aplicamos los métodos modificados para evitar negativos en densidad

In [24]:
#Aplicando métodos de normalización modificados. Se 
#Simple feature scaling
df["Dt_del10mi"] = df["Dt_del10mi"]/df["Dt_del10mi"].max() 
#Min-max
df["Mtasa_mig1"] = df["Mtasa_mig1"]/df["Mtasa_mig1"].max()
#Z-Score
df["densidad_2"] = df["densidad_2"]/df["densidad_2"].max()

#Repetimos simple
df["tasa_ata1"] = df["tasa_ata1"]/df["tasa_ata1"].max()

In [25]:
#describe
df[["Dt_del10mi","Mtasa_mig1","densidad_2","tasa_ata1", "DRRIAlt"]].describe()

        Dt_del10mi   Mtasa_mig1   densidad_2    tasa_ata1      DRRIAlt
count  2457.000000  2465.000000  2465.000000  1557.000000  2456.000000
mean      0.136298     0.031206     0.081451     0.034400     0.438019
std       0.119168     0.063937     0.107124     0.058022     0.147258
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.056614     0.000000     0.000000     0.008745     0.354977
50%       0.107446     0.012000     0.000000     0.018140     0.448476
75%       0.173339     0.032000     0.111111     0.038665     0.545929
max       1.000000     1.000000     1.000000     1.000000     0.840911

# Exportar el dataframe completo modificado a un .csv

In [26]:
df.to_csv('/home/omnibus/Documents/QGISS_Cartografia/Proyectos/criminal_mx/indice_psd/cruce_normalizado_simple.csv',index=False)

# Exportar el describe a un .md

In [30]:
# Supongamos que tu DataFrame se llama df_result
df[["Dt_del10mi", "Mtasa_mig1", "densidad_2", "tasa_ata1", "DRRIAlt"]].describe().to_markdown("result_summary.md", index=False)